@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* ------------- Menu Bar ------------- */
header{
    height: 677px;
    margin: auto;
    background-color: #2D25A0;
    
}
.header{
    
    width: 1160px;
    margin: auto;
    background-color: #2D25A0;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
    padding-inline-start: 0px;
}
.menubars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
}
.login-button{
    background-color: #E02C6D;
    padding: 10px 20px;
}
#login-icon{
    margin-right: 20px;
}

/* ------------- Banner ------------- */
.banners  {
    display: flex;
    margin-top: 67px;
}
.banner a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
.banner h1{
    font-size: 60px;
}
#login-icon2{
    margin-left: 20px;
}
.banner img{
    width: 556px;
    height: 438px;
    margin-left: 102px;
}


/* ----------------- Players Section -------------------- */

.container{
    margin-top: 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    width: 1160px;
    margin: auto;
    
}
.player{
    box-shadow: 0px 0px 5px 5px grey;
    padding: 20px;
    border: 1px solid red;
}
.player h2{
    font-size: 1.5em;
}

.player img{
    width: 100%;
}

















    /*----------------------------------
    Making Responsive with media query 
    ----------------------------------*/

    @media only screen and (max-width:688px) {
        nav{
            display: none;
        } 
        .header{
            width: 100%;
            margin-top: -70px;
        }
        .banners{
            display: flex;
            flex-direction: column;
            row-gap: 90px;
            padding-top: 80px;
            padding-bottom: 50px;
        }
        .banners h1{
            font-size: 36px;
        }
        #banner-heading{
            margin-left: 16px;
        }
        .banner img{
            width: 329px;
            height: 259px;
            margin-left: 0px;
        }
        #banner-image{
            text-align: center;
        }
    }

    @media  only screen and (min-width:689px) and (max-width:992px){    }