@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* ------------- Menu Bar ------------- */
header{
    height: 677px;
    margin: auto;
    background-color: #2D25A0;
    
}
.header{
    
    width: 1160px;
    margin: auto;
    background-color: #2D25A0;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
    padding-inline-start: 0px;
}
.menubars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
}
.login-button{
    background-color: #E02C6D;
    padding: 10px 20px;
}
#login-icon{
    margin-right: 20px;
}

/* ------------- Banner ------------- */
.banners  {
    display: flex;
    margin-top: 67px;
}
.banner a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
.banner h1{
    font-size: 60px;
}
#login-icon2{
    margin-left: 20px;
}
.banner img{
    width: 556px;
    height: 438px;
    margin-left: 102px;
    transition: transform ease-in-out 0.9s;
}
.banners:hover img {
    transform: scale(1.3);
}


/* ----------------- Players Section -------------------- */

.container{
    width: 1160px;
    margin: auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.player{
    box-shadow: 0px 0px 5px 5px grey;
    padding: 20px;
    transition: transform ease-in-out 0.9s;
}
.player h2{
    font-size: 1.5em;
}
.player:hover{
    transform: scale(1.1);
}
.player img{
    width: 100%;
}

/* ---------- Extra section ---------------------- */
.extra{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.extra h1{
    font-size: 2.9em;
    margin: 0px;
}
.extra0 img{
    width: 90%;
    float: right;
}
.extra0 a{
    text-decoration: none;
    color: white;
}
.watch-now{
    padding-top: 40px;
}

 /* ------------------- Bonus Section ------------------ */
 .legends{
     margin-top: 150px;
     display: flex;
     column-gap: 50px;
 }
 
 .legend {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .legends-para{
     width: 60%;
     
 }


/* ---------------- footer section ------------------------- */
footer{
    text-align: center;
    margin-top: 130px;
    padding-bottom: 50px;
}
.footer-image img{
    width: 30%;
}
.footer-social img{
    width: 32px;
    height: 32px;
    padding: 0px 5px;
}
.footer-copyright{
    padding-top: 25px;
    font-weight: 600;
}


/* ------------------ Flip box ----------------------- */
.flip-box {
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(360deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
    
  .flip-box-back {
    color: white;
    transform: rotateY(180deg);
  }











    /*----------------------------------
    Making Responsive with media query 
    ----------------------------------*/

    @media only screen and (max-width:688px) {
        nav{
            display: none;
        } 
        .header{
            width: 100%;
            margin-top: -70px;
        }
        .banners{
            display: flex;
            flex-direction: column;
            row-gap: 90px;
            padding-top: 80px;
            padding-bottom: 50px;
        }
        .banners h1{
            font-size: 36px;
        }
        #banner-heading{
            margin-left: 16px;
        }
        .banner img{
            width: 329px;
            height: 259px;
            margin-left: 0px;
        }
        #banner-image{
            text-align: center;
        }
        .container{
            width: 90%;
        }
        .players{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 30px;
            row-gap: 40px;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }
        .extra{
            display: flex;
            flex-direction: column;
            row-gap: 60px;
        }
        .extra0 img{
            float: unset;
            width: 100%;
        }
        .legends{
            display: flex;
            flex-direction: column;
            row-gap: 50px;
        }
        .footer-image img{
            width: 70%;
        }
    }

    @media  only screen and (min-width:689px) and (max-width:992px){    }